.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    letter-spacing: 0;

    .avatar {
        border-style: solid;
        border-width: 1px;
        border-color: transparent;
    }
}
